@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Cabin&family=Changa+One&family=Comfortaa:wght@500&family=Delicious+Handrawn&family=EB+Garamond&family=Patua+One&family=Secular+One&family=Shadows+Into+Light+Two&family=Unna&display=swap');

/*navbar part*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One');
html{
	scroll-behavior: smooth;
	
}
body{
	overflow-y: hidden;
}
nav{
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid black;
	z-index: 100;
}
nav a{
	text-decoration: none;
	float: left;
	color: black;
	text-align: center;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Patua One', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	/* position: fixed; */
}
nav a:hover{
	color: rgb(255, 164, 68);
	transition: .2s ease .2s;
}
#current_page{
	border-bottom:5px solid rgb(0, 0, 0);
}
.logo{
	content: url("C:/Ansh/ISS/Project/Images/headset.png");
	width: 50%;
	margin: 0 0 0 0;
}
/* #below-nav-hr{
	width: 100%;
	position: fixed;
} */
#fire{
	content: url("C:/Ansh/ISS/Project/Images/fire.png");
	width: 20px;
}

:root{
	--clr: rgb(255, 255, 255);
}

/**Artist Div**/
.artist{
	position: relative;
	width: 33%;
	height: 100vh;
	border-right: 3px solid rgb(0, 0, 0);
	float: left;
}
.artist .main_picture{
	content: url("C:/Ansh/ISS/Project/Images/shaan_no_bg.png");
	width: 100%;
	position: relative;
	margin-top: 50px;
	/* border:3px solid rgb(247, 0, 255); */
}
.description{
	font-family: 'EB Garamond', serif;
	font-size: 25px;
}
.colorspan{
	color:rgb(79, 215, 0);
}
.all_albums{
	width: 66%;
	height: 100vh;
	position: relative;
	margin-top: 50px;
	float: right;
	overflow-y: scroll;
	/* display: inline-block; */
}
.all_albums .album{
	font-family: 'EB Garamond', serif;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	border: 3px solid rgb(31, 102, 9);
	/* padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px; */
}
/* .all_albums{
	font-family: 'EB Garamond', serif;
	font-size: 20px;
} */
/* .album{
	margin-left: 20%;
	margin-right: 20%;
	/* margin: 0 0 0 0; */
	/* padding: 0 0 0 0;
	
} */
.album .title{
	background-color: rgb(252, 118, 106);
	margin: 0 0 0 0;
	padding: 15px 15px 15px 15px;
	font-family: 'Secular One', sans-serif;
	text-align: center;
}

.album .desc{
	font-family: 'Secular One', sans-serif;
	padding-left: 5%;
	padding-right: 5%;
}

.album .song_count{
	background-color: rgb(0, 128, 255);
	color: rgb(255, 255, 255);
	font-family: 'Secular One', sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 15px 15px 15px 15px;
	text-align: center;
}