@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');




@keyframes slide1{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 17%;
        left: 1.5%;
    }
}
@keyframes slide2{
    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 66%;
        left: 1.5%;
    }
}
@keyframes slide3{
    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 66%;
        left: 15%;
    }
}
@keyframes slide4{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 50%;
    }
}

@keyframes slide5{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 63%;
    }
}

@keyframes slide6{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 20%;
        left: 30%;
    }
}

@keyframes slide7{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 63%;
        left: 34%;
    }
}

@keyframes slide8{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 68%;
        left: 50%;
    }
}

@keyframes slide9{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 68%;
        left: 63%;
    }
}

@keyframes slide10{

    0%{
        top: 50%;
        left: 50%;
    }

    
    100%{
        top: 50%;
        left: 76%;
    }
}

@keyframes slide11{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 15%;
        left: 76%;
    }
}

@keyframes slide_text{

    0%{
        top:100%;
        left:1.5%;
    }

    100%{
        top: 76%;
        left: 1.5%;
    }
}

#Artist1{
    animation: slide1 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 26.543878657%;
    height: 55.785123967%;
    font-size: 30px;
    transition: 0.3s;
    
    
} 
#Artist1:hover{
    width: 27.085590466%;
    height: 56.818181818%;
    transform: translate(-0.270855905%, -0.516528926%);
} 
#Artist2{
    animation: slide2 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 250px;
    
    
}
#Artist2:hover{
    width: 11.6468039%;
    height: 260px;
    transform: translate(-5px, -0.270855905%);
}
#Artist3{
    animation: slide3 1s ease 0s 1 normal forwards;
    position: absolute;
    
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 205px;
    height: 250px;
    transition: 0.3s;
   
    

}

#Artist3:hover{
    width: 215px;
    height: 260px;
    transform: translate(-5px, -5px);
}

#Artist4{
    animation: slide4 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091% ;
    height: 25.826446281%;
    
    
}

#Artist4:hover{
    width: 11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist5{
    animation: slide5 1s ease 0s 1 normal forwards;
    position: absolute;
    
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 25.826446281%;
    transition: 0.3s;
   
    

}
#Artist5:hover{
    width: 11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist6{
    animation: slide6 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 17.876489707%;
    height: 39.256198347%;
    font-size: 30px;
    transition: 0.3s;
    
    
}

#Artist6:hover{
    height: 40.289256198%;
    width: 18.418201517%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist7{
    animation: slide7 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 13.542795233%;
    height: 30.991735537%;
    font-size: 30px;
    transition: 0.3s;
    
    
}
#Artist7:hover{
    width: 14.084507042%;
    height: 32.024793388;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist8{
    animation: slide8 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 25.826446281%;
    
    
}

#Artist8:hover{
    width:11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist9{
    animation: slide9 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 25.826446281%;
    
    
}

#Artist9:hover{
    width:11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}
#Artist10{
    animation: slide10 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 17.876489707%;
    height: 39.256198347%;
    font-size: 30px;
    transition: 0.3s;
    
    
}

#Artist10:hover{
    height: 40.289256198%;
    width: 18.418201517%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist11{
    animation: slide11 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 13.542795233%;
    height: 30.991735537%;
    font-size: 30px;
    transition: 0.3s;
    
    
}
#Artist11:hover{
    width: 14.084507042%;
    height: 32.024793388%;
    transform: translate(-0.270855905%, -0.516528926%);
}
#text{
    top: 40%;
    left: 50%;
    
    width: 24.377031419%;
    height: 25.826446281%;
    color: black;
    position: absolute;
    font-size: 370%;
    border-radius: 5px;
    padding-left: 0.7%; 
    font-family: 'Changa One';             
}

#top_text{
    animation: slide_text 1s ease 0s normal forwards;
    position: absolute;
    font-size: 400%;
    width: 26.543878657%;
    height: 7.231404959%;
    color: black;
    
    border-radius: 5px;
    padding: 10px;
    font-family: 'Changa One';
    text-align: center;

}
