@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Cabin&family=Changa+One&family=Comfortaa:wght@500&family=Delicious+Handrawn&family=EB+Garamond&family=Patua+One&family=Secular+One&family=Shadows+Into+Light+Two&family=Unna&display=swap');


html{
	scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
/*navbar part*/

nav{
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid black;
	z-index: 100;
}
nav a{
	text-decoration: none;
	float: left;
	color: black;
	text-align: center;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Patua One', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	/* position: fixed; */
}
nav a:hover{
	color: rgb(255, 164, 68);
	transition: .2s ease .2s;
}
#current_page{
	border-bottom:5px solid rgb(0, 0, 0);
}

.logo{
	content: url("C:/Ansh/ISS/Project/Images/headset.png");
	width: 50%;
	margin: 0 0 0 0;
}
/* #below-nav-hr{
	width: 100%;
	position: fixed;
} */
#fire{
	content: url("C:/Ansh/ISS/Project/Images/fire.png");
	width: 20px;
	margin: 0 0 0 0;
}

@keyframes slide1{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 1.5%;
    }
}
@keyframes slide2{
    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 66%;
        left: 1.5%;
    }
}
@keyframes slide3{
    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 66%;
        left: 15%;
    }
}
@keyframes slide4{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 50%;
    }
}

@keyframes slide5{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 63%;
    }
}

@keyframes slide6{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 30%;
    }
}

@keyframes slide7{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 55%;
        left: 30%;
    }
}

@keyframes slide8{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 68%;
        left: 50%;
    }
}

@keyframes slide9{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 68%;
        left: 63%;
    }
}

@keyframes slide10{

    0%{
        top: 50%;
        left: 50%;
    }

    
    100%{
        top: 55%;
        left: 76%;
    }
}

@keyframes slide11{

    0%{
        top: 50%;
        left: 50%;
    }
    
    100%{
        top: 10%;
        left: 76%;
    }
}

@keyframes slide_text{

    0%{
        top:100%;
        left:1.5%;
    }

    100%{
        top: 85%;
        left: 1.5%;
    }
}

body{
    margin: 0 0 0 0;
}
#artists div img{
    width: 100%;
}

#Artist1 img{
    content: url("C:/Ansh/ISS/Project/Images/gopi.jpg");
    
}

#Artist4 img{
    content: url("C:/Ansh/ISS/Project/Images/shreya_ghosal_final.jpg");
}

#Artist5 img{
    content: url("C:/Ansh/ISS/Project/Images/shaan_final.jpg");}

#Artist6 img{
    content: url("C:/Ansh/ISS/Project/Images/arijit_final.jpg");
    height: 85%;
}

#Artist7 img{
    content: url("C:/Ansh/ISS/Project/Images/imagine_draculas_final.jpg");}

#Artist8 img{
    content: url("C:/Ansh/ISS/Project/Images/coldplay.png");}

#Artist9 img{
    content: url("C:/Ansh/ISS/Project/Images/one_direction.jpg");}

#Artist10 img{
    content: url("C:/Ansh/ISS/Project/Images/the_beatles.jpg");}

#Artist11 img{
    content: url("C:/Ansh/ISS/Project/Images/shankar_final.jpg");}
.one_artist{
    color: black;
    font-family: 'Secular One', sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;

}
.one_artist img{
    border-radius: 5% 5% 5% 5%;
    border: 4px solid rgb(79, 215, 0);
}
.colorspan{
	color:rgb(79, 215, 0);
}

#Artist1{
    animation: slide1 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    /* background-color: gray; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 26.543878657%;
    height: 55.785123967%;
    transition: 0.3s;
    
    
}
#Artist1:hover{
    width: 27.085590466%;
    height: 56.818181818%;
    transform: translate(-0.270855905%, -0.516528926%);
}
#Artist2{
    animation: slide2 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 250px;
    
    
}
#Artist2:hover{
    width: 11.6468039%;
    height: 260px;
    transform: translate(-5px, -0.270855905%);
}
#Artist3{
    animation: slide3 1s ease 0s 1 normal forwards;
    position: absolute;
    
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 205px;
    height: 250px;
    transition: 0.3s;
   
    

}

#Artist3:hover{
    width: 215px;
    height: 260px;
    transform: translate(-5px, -5px);
}

#Artist4{
    animation: slide4 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091% ;
    height: 25.826446281%;
}

#Artist4:hover{
    width: 11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist5{
    animation: slide5 1s ease 0s 1 normal forwards;
    position: absolute;
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 25.826446281%;
    transition: 0.3s;
}
#Artist5:hover{
    width: 11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist6{
    animation: slide6 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    /* background-color: gray; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 17.876489707%;
    height: 39.256198347%;
    transition: 0.3s;
}

#Artist6:hover{
    height: 40.289256198%;
    width: 18.418201517%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist7{
    animation: slide7 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    /* background-color: gray; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 17.876489707%;
    height: 39.256198347%;
    transition: 0.3s;
}
#Artist7:hover{
    height: 40.289256198%;
    width: 18.418201517%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist8{
    animation: slide8 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 25.826446281%;
    
    
}

#Artist8:hover{
    width:11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist9{
    animation: slide9 1s ease 0s 1 normal forwards;
    position: absolute;
    transition: 0.3s;
    /* background-color: black; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 11.105092091%;
    height: 25.826446281%;
    
    
}

#Artist9:hover{
    width:11.6468039%;
    height: 26.859504132%;
    transform: translate(-0.270855905%, -0.516528926%);
}
#Artist10{
    animation: slide10 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    /* background-color: gray; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 17.876489707%;
    height: 39.256198347%;
    transition: 0.3s;
    
    
}

#Artist10:hover{
    height: 40.289256198%;
    width: 18.418201517%;
    transform: translate(-0.270855905%, -0.516528926%);
}

#Artist11{
    animation: slide11 1s ease 0s 1 normal forwards;
    position: absolute;
    text-align: center;
    /* background-color: gray; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 17.876489707%;
    height: 39.256198347%;
    font-size: 20px;
    transition: 0.3s;
    
    
}
#Artist11:hover{
    height: 40.289256198%;
    width: 18.418201517%;
    transform: translate(-0.270855905%, -0.516528926%);
}
#text{
    top: 40%;
    left: 50%;
    
    width: 24.377031419%;
    height: 25.826446281%;
    color: white;
    position: absolute;
    font-size: 3.2vw;
    border-radius: 5px;
    padding-left: 0.7%; 
    font-family: 'Changa One';             
}

#top_text{
    animation: slide_text 1s ease 0s normal forwards;
    position: absolute;
    font-size: 3.7vw;
    width: 26.543878657%;
    height: 7.231404959%;
    color: white;
    
    border-radius: 5px;
    padding: 10px;
    font-family: 'Changa One';
    text-align: center;

}

#artists{
    height: 100vh;
}

/*Footer*/
footer{
	background-color: rgb(234, 234, 234);
    bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	margin: 0 0 0 0;
	height: 30vh;
}
footer #gradient{
	height: 7px;
	background-image: linear-gradient(to right, red, orange, yellow, rgb(69, 255, 1), rgb(0, 181, 0), rgb(0, 149, 255), blue, purple);
}
footer p{
	font-family: 'Secular One', sans-serif;
	text-align: center;
	font-size: 20px;
}
