@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Cabin&family=Changa+One&family=Comfortaa:wght@500&family=Delicious+Handrawn&family=EB+Garamond&family=Patua+One&family=Shadows+Into+Light+Two&family=Unna&display=swap');

html{
	scroll-behavior: smooth;
}

/*navbar part*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One');
nav{
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid black;
	z-index: 100;
}
nav a{
	text-decoration: none;
	float: left;
	color: black;
	text-align: center;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Patua One', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	/* position: fixed; */
}
nav a:hover{
	color: rgb(255, 164, 68);
	transition: .2s ease .2s;
}
#current_page{
	border-bottom:5px solid rgb(0, 0, 0);
}

.logo{
	content: url("C:/Ansh/ISS/Project/Images/headset.png");
	width: 50%;
	margin: 0 0 0 0;
}
/* #below-nav-hr{
	width: 100%;
	position: fixed;
} */
#fire{
	content: url("C:/Ansh/ISS/Project/Images/fire.png");
	width: 20px;
	margin: 0 0 0 0;
}
form{
	position: relative;
	margin-top: 5%;
}